.greek {
  overflow: hidden;
  margin: 0 auto;
}

.greek img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.greek:hover img {
  transform: scale(1.5);
}
.section-home {
  margin-bottom: 5%;
}
.section-heading {
  margin-bottom: 5%;
}
.text-reset {
  text-decoration: none;
}
#gnb {
  display: flex;
}
#gnb > li {
  position: relative;
}
.lnb {
  margin-left: 25%;
  display: none;
  background: rgb(255, 250, 250);
  border-radius: 5%;
}
.lnb > li {
  padding: 0.5rem 0.5rem;
  text-align: left;
}
#gnb > li:hover .lnb {
  display: block;
  position: absolute;
}
.cartHeader {
  margin-left: 0%;
}
.img-cart {
  width: 20%;
}
